

<!--	<#if !isHome>
				<nav id="breadcrumbs">
					<@liferay.breadcrumbs />
				</nav>
			</#if>-->
<div class="footerCountBox2">
</div>

<div class="footerCountBox">
    <div class="row container-fluid countbox-pd">
        <div class="col-5 col-md-6">
            <div class="count-box">
                <img src="${images_folder}/footer/letter.png" alt="" class="img-fluid countBoxImg fullWidth">
                <p id="subscribe">သတင်းပုံမှန်ရယူရန်</p>

                <div class="search-holder news">
                    <div class="searchbar gd news">
                        <input type="text" id="SubscriberEmail" placeholder="အီးမေးလ် (သို့) ဖုန်းနံပါတ်" class="news">

                        <div id='recaptcha' class="g-recaptcha" data-sitekey="6LcYNmoUAAAAALQq0V9VbZ5h2wRPBQDXIzX4PFKo"
                            data-callback="onSubmit" data-size="invisible">

                        </div>
                        <a href="#" class="small subscribe_btn " id="subscribe_btn">ရယူမည်</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
                <img src="${images_folder}/footer/directory.png" alt="" class="img-fluid countBoxImg fullWidth">
                <p id="directory">အစိုးရဌာနလမ်းညွှန်</p>
                <@liferay_portlet["runtime"] defaultPreferences="${freeMarkerPortletPreferences}"
                    portletName="SearchGovermentDirectory" />
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="footer-top">
        <div class="container-fluid">

            <div class="row" id="footerBody">
                <div class="col-lg-3 col-md-6 footer-links footer-links-left">
                    <ul>
                        <li> <img src="${images_folder}/footer/discuss.png" alt="" class="img-fluid footerImg"><a
                                href="#" id="discussions">ဆွေးနွေးရေးကဏ္ဍများ</a></li>
                        <li><img src="${images_folder}/footer/survey.png" alt="" class="img-fluid footerImg"><a href="#"
                                id="poll">မဲဆန္ဒနှင့်စစ်တမ်းများ</a></li>
                        <li><img src="${images_folder}/footer/blog.png" alt="" class="img-fluid footerImg"><a href="#"
                                id="blog">ဘလော့ဂ်များ</a></li>
                        <span class="line">.......................................</span>
                        <li><img src="${images_folder}/footer/websites.png" alt="" class="img-fluid footerImg"><a
                                href="#" id="websites">အစိုးရဝက်ဘ်ဆိုက်များ </a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-links modileAppDiv">
                    <div class="mobileApp">
                        <span class="appText">Myanmar National Portal Mobile Application</span>
                        <a href="https://appgallery.huawei.com/#/app/C103262487">
                            <img src="${images_folder}/footer/hauwei.png" alt="" class="img-fluid"></a>
                        <a href="https://apps.apple.com/mm/app/myanmar-national-portal/id1535415602">
                            <img src="${images_folder}/footer/apple.png" alt="" class="img-fluid"></a>
                        <br>
                        <a href="https://play.google.com/store/apps/details?id=com.securelink.myangov">
                            <img src="${images_folder}/footer/andriod.png" alt="" class="img-fluid"></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 footer-links countUpper">
                    <div class="row count">
                        <div class="col-2">
                            <img src="${images_folder}/footer/registers.png" alt="" class="img-fluid footerImg">
                        </div>
                        <div class="col-5 countText">
                            <span id="users">မှတ်ပုံတင်ထားသူများ</span>
                        </div>
                        <div class="col-1 countText2">
                            <span>453535</span>
                        </div>
                    </div>
                    <div class="row count countMid">
                        <div class="col-2">
                            <img src="${images_folder}/footer/visitors.png" alt="" class="img-fluid footerImg">
                        </div>
                        <div class="col-5 countText">
                            <span>Visitors</span>
                        </div>
                        <div class="col-1 countText2">
                            <span>5657456</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="contact">
            <div class="copyright">
                <a href="" id="contact" class="footerText"><span>ဆက်သွယ်ရန်</span></a>
                <a href="" id="terms" class="footerText"><span>လိုက်နာရမည့်အချက်များ</span></a>
                <a href="" id="privacy" class="footerText"><span>သင့်အချက်အလက်လုံခြုံရေး</span></a>
                <a href="" id="site" class="footerText"><span>ဆိုဒ်အညွှန်း</span></a>
                <a href="" id="sugesstion" class="sugess"><span> အကြံပြုရန်</span></a>
            </div>
            <div class="credits" id="nation">
                © ၂၀၁၉ ပြည်ထောင်စုသမ္မတမြန်မာနိုင်ငံတော်
            </div>
        </div>
    </div>
</footer>