<section class="section-bg">
    <div class="services">
        <div class="row">
            <div class="col-lg-2 col-md-6 icon-box">
                <a href="" id="forms">
                    <img src="http://mnp.gov.mm/o/mnp-theme/images/Artboard/Artboard1.png" class="img-fluid" alt="">
                    <h5 class="title">လျှောက်လွှာပုံစံများ</h5>
                </a>
            </div>
            <div class="col-lg-2 col-md-6 icon-box" data-aos-delay="100">
                <a href="" id="documents">
                    <img src="http://mnp.gov.mm/o/mnp-theme/images/Artboard/Artboard2.png" class="img-fluid" alt=""><br>
                    <h5 class="title">အချက်အလက်များ</h5>
                </a>
            </div>
            <div class="col-lg-2 col-md-6 icon-box" data-aos-delay="200">
                <a href="" id="holidies"><img src="http://mnp.gov.mm/o/mnp-theme/images/Artboard/Artboard3.png"
                        class="img-fluid" alt=""><br>
                    <h5 class="title">လာမည့်အစိုးရ<br><br>ရုံးပိတ်ရက်များ</h5>
                </a>
            </div>
            <div class="col-lg-2 col-md-6 icon-box" data-aos-delay="300">
                <a href="" id="events"><img src="http://mnp.gov.mm/o/mnp-theme/images/Artboard/Artboard4.png"
                        class="img-fluid" alt="">
                    <h5 class="title"> အခမ်းအနားများ </h5>
                </a>
            </div>
            <div class="col-lg-2 col-md-6 icon-box" data-aos-delay="400">
                <a href="" id="emergency"> <img src="http://mnp.gov.mm/o/mnp-theme/images/Artboard/Artboard5.png"
                        class="img-fluid" alt="">
                    <h5 class="title"> အရေးပေါ်ဆက်သွယ်ရမည့် <br><br>ဖုန်းနံပါတ်များ </h5>
                </a>
            </div>
            <div class="col-lg-2 col-md-6 icon-box" data-aos-delay="500">
                <a href="" id="mobileservices"><img src="http://mnp.gov.mm/o/mnp-theme/images/Artboard/Artboard6.png"
                        class="img-fluid" alt="">
                    <h5 class="title2"> Mobile Application <br><br> Services </h5>
                </a>
            </div>
        </div>
    </div>
</section>