<div class="nation-detail-layout2" id="main-content" role="main" style="background-color:#f3f3f9">
    <div class="container-fluid portlet-layout row">
        <div class="col-md-4 portlet-column portlet-column-first yui3-dd-drop" id="column-1">


            (က)  ပုဒ်မ ၁၀၉ ပါ ပြဋ္ဌာန်းချက်များနှင့်အညီ မြို့နယ်ကို အခြေခံ၍လည်းကောင်း၊ လူဦးရေကို အခြေခံ၍လည်းကောင်း ရွေးကောက်တင်မြှောက်သည့် လွှတ်တော်ကိုယ်စားလှယ်များ နှင့် တပ်မတော်ကာကွယ်ရေးဦးစီးချုပ်က အမည်စာရင်းတင်သွင်းသော တပ်မတော်သား လွှတ်တော်ကိုယ်စားလှယ်များဖြင့် ဖွဲ့စည်းသည့် ပြည်သူ့လွှတ်တော်၊

            (ခ)  ပုဒ်မ ၁၄၁ ပါ ပြဋ္ဌာန်းချက်များနှင့်အညီ တိုင်းဒေသကြီးများနှင့် ပြည်နယ်များမှ ဦးရေ တူညီစွာ ရွေးကောက်တင်မြှောက်သည့် လွှတ်တော်ကိုယ်စားလှယ်များနှင့် တပ်မတော် ကာကွယ်ရေးဦးစီးချုပ်က အမည်စာရင်း တင်သွင်းသော တပ်မတော်သားလွှတ်တော် ကိုယ်စားလှယ်များဖြင့် ဖွဲ့စည်းသည့် အမျိုးသားလွှတ်တော်။
            
            လက်ရှိ ပြည်ထောင်စုလွှတ်တော်ကိုယ်စားလှယ် စုစုပေါင်း (၆၅၁)ဦး
            
            
            (က)   ပြည်သူ့ရွေးကောက်ခံ           -    ၃၂၀ ဦး
            (ခ)    ပြည်သူ့တပ်မတော်သား        -    ၁၁၀ ဦး
            (ဂ)    အမျိုးသားရွေးကောက်ခံ       -    ၁၆၅ ဦး
            (ဃ)  အမျိုးသားတပ်မတော်သား    -    ၅၆ ဦး
        </div>

        <div class="col-md-8 portlet-column portlet-column-last yui3-dd-drop" id="column-2">


            <section id="team" class="nation-detail-pd section-bg">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos-delay="100">
                            <div class="nation-detail">
                                <div class="nation-detail-img popup-gallery">
                                    <img src="${images_folder}/Hluttaw.png" class="img-fluid1" alt="">
                                </div>
                                <div class="nation-detail-info">
                                    <span>ပြည်ထောင်စုလွှတ်တော်</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos-delay="100">
                            <div class="nation-detail">
                                <div class="nation-detail-img popup-gallery">
                                    <img src="${images_folder}/Hluttaw.png" class="img-fluid1" alt="">
                                </div>
                                <div class="nation-detail-info">
                                    <span>ပြည်ထောင်စုလွှတ်တော်</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos-delay="100">
                            <div class="nation-detail">
                                <div class="nation-detail-img popup-gallery">
                                    <img src="${images_folder}/Hluttaw.png" class="img-fluid1" alt="">
                                </div>
                                <div class="nation-detail-info">
                                    <span>ပြည်ထောင်စုလွှတ်တော်</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </div>
</div>


