<div class="container-fluid nation-detail-layout2" id="main-content" role="main" style="background-color:#f3f3f9">
	<div class="portlet-layout row">
		<div class="col-md-4 portlet-column portlet-column-first yui3-dd-drop" id="column-1">
			${processor.processColumn("column-1", "portlet-column-content portlet-column-content-first")}
		</div>

		<div class="col-md-8 portlet-column portlet-column-last yui3-dd-drop" id="column-2">
			${processor.processColumn("column-2", "portlet-column-content portlet-column-content-last")}
		</div>
	</div>
</div>