


<section class="team" style="background-color: #f3f3f9;">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos-delay="100">
                <div class="member">
                    <div class="nation-img popup-gallery">
                        <img src="${images_folder}/amyothar.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="nation-info">
                        <span>Government Organizations</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos-delay="100">
                <div class="member">
                    <div class="nation-img popup-gallery">
                        <img src="${images_folder}/amyothar.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="nation-info">
                        <span>Government Organizations</span>
                    </div>
                </div>
            </div> <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos-delay="100">
                <div class="member">
                    <div class="nation-img popup-gallery">
                        <img src="${images_folder}/amyothar.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="nation-info">
                        <span>Government Organizations</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos-delay="100">
                <div class="member">
                    <div class="nation-img popup-gallery">
                        <img src="${images_folder}/amyothar.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="nation-info">
                        <span>Government Organizations</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos-delay="100">
                <div class="member">
                    <div class="nation-img popup-gallery">
                        <img src="${images_folder}/amyothar.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="nation-info">
                        <span>Government Organizations</span>
                    </div>
                </div>
            </div> <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos-delay="100">
                <div class="member">
                    <div class="nation-img popup-gallery">
                        <img src="${images_folder}/amyothar.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="nation-info">
                        <span>Government Organizations</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>