/*THANGDT3 - adjust Previous and Next arrows for smaller screen (Photos and videos gallery page)*/
@media screen and (max-width:900px){
.mfp-container .mfp-arrow-left{
	-webkit-transform-origin : 0 50% 0;
	transform-origin : 0 50% 0;
	-ms-transform-origin : 0 50% 0;
}
}