@import "portlet_decorator";

$bg-color: #F5F7F8;
$solid-color: #47647A;

@import "custom_common";
@import url("fonts.css");
@import "magnific-popup";
@import "custom_style_outer";
.mnp_body {
	/* @import "bootstrap"; */
	@import "custom_reset_core";
	@import "custom_portlet"; 
	@import "slick";
	@import "slick-theme";	
	@import "style";
	@import "custom_style";
 	@import "md_style";
	@import "icons";	
	@import "font-awesome";
	
}

.portlet-topper {
	z-index: 1;
}

#userCard .user-container {
	margin-left: -15px;
	margin-right: -15px;
	padding: 10px;
	position: relative;

	@include sm {
		margin-bottom: 20px;
		padding: 20px;
	}

	.user-info {
		position: relative;
		z-index: 1;

		.user-icon {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.bg-icon {
		bottom: 0;
		left: 0;
		opacity: 0.3;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;

		@include filter(blur(15px));
	}
}

.site-navigation .portlet {
	&, .portlet-body > .navbar {
		margin-bottom: 0;
	}

	.navbar-blank {
		float: none;

		> li {
			float: none;

			& > a {
				color: $solid-color;
				padding: 14px;
			}

			&:hover, &.hover, &.active, .dropdown-menu .active {
				& > a {
					color: #000;
				}
			}

			&.open > a:focus {
				@include tab-focus;
			}
		}
	}
}

#wrapper {
	padding: 0;

	#banner {
		padding: 10px 0;
		position: relative;

		a:active, a:hover, a:focus {
			text-decoration: none;
		}

		#heading .site-name {
			color: $solid-color;
			font-size: 150%;
			letter-spacing: 2px;
			padding: 16px 20px 10px;
			vertical-align: middle;
		}

		.user-personal-bar {
			> ul {
				margin: 18px 0;

				@include sm {
					margin: 14px 8px;
				}
			}

			.user-full-name, .icon-caret-down {
				display: none;
			}
		}

		.navbar-toggle {
			margin: 12px;
		}

		@include sm {
			padding: 20px 0;
		}
	}
}

.modify-pages .delete-tab {
	height: 20px;
	top: 22px;
}