@charset "UTF-8";
@font-face {
	font-family: custom;
	src: url(aui/lexicon/fonts/custom.eot);
	src: url(aui/lexicon/fonts/custom.eot?#iefix)
		format('embedded-opentype'), url(aui/lexicon/fonts/custom.woff)
		format('woff'), url(aui/lexicon/fonts/custom.ttf) format('truetype'),
		url(aui/lexicon/fonts/custom.svg#custom) format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: linea-icons;
	src: url(aui/lexicon/fonts/linea-icons.eot);
	src: url(aui/lexicon/fonts/linea-icons.eot?#iefix)
		format('embedded-opentype'), url(aui/lexicon/fonts/linea-icons.woff)
		format('woff'), url(aui/lexicon/fonts/linea-icons.ttf)
		format('truetype'), url(aui/lexicon/fonts/linea-icons.svg#linea-icons)
		format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
  font-family: FontAwesome;
  src: url(aui/lexicon/fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0);
  src: url(aui/lexicon/fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0) format('embedded-opentype'), url(aui/lexicon/fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0) format('woff2'), url(aui/lexicon/fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0) format('woff'), url(aui/lexicon/fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0) format('truetype'), url(aui/lexicon/fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Helvetica;
  src: url(aui/lexicon/fonts/helveticalnune/HelveticaNeue.eot?#iefix) format('embedded-opentype'), url(aui/lexicon/fonts/helveticalnune/HelveticaNeue.ttf) format('truetype'), url(aui/lexicon/fonts/helveticalnune/HelveticaNeue.svg#togetherregular) format('svg');
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: togetherregular fontcustom;
  src: url(aui/lexicon/fonts/together/together-webfont.eot);
  src: url(aui/lexicon/fonts/together/together-webfont.eot?#iefix) format('embedded-opentype'), url(aui/lexicon/fonts/together/together-webfont.woff) format('woff'), url(aui/lexicon/fonts/together/together-webfont.ttf) format('truetype'), url(aui/lexicon/fonts/together/together-webfont.svg#togetherregular) format('svg');
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Myanmar3;
  src:local('Myanmar3'), url(aui/lexicon/fonts/myanmar/myanmar3.ttf)format("truetype");
  -webkit-font-smoothing: antialiased ;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.3);
  font-weight: normal;
  font-style: normal;
  unicode-range: U +1000 -109 F;
}

@font-face{
  font-family: Roboto Regular fontcustom;
  src: url(aui/lexicon/fonts/robotoregular/roboto-regular-webfont.woff);
/*  src: url('aui/lexicon/fonts/robotoregular/Roboto-Regular.ttf'),
       url('aui/lexicon/fonts/robotoregular/Roboto-Regular?#iefix') format('embedded-opentype'), 
       url('aui/lexicon/fonts/robotoregular/Roboto-Regular.woff') format('woff'), 
       url('aui/lexicon/fonts/robotoregular/Roboto-Regular.ttf')  format('truetype'),*/
}

/* @font-face{ */
/*   font-family: 'adam-cg-pro fontcustom'; */
/*   src: url('aui/lexicon/fonts/ADAM.CGPRO/adam-cg-pro.woff'); */
/* } */

@font-face{
  font-family: Helvetica LT 37 Thin Condensed fontcustom;
  src: url(aui/lexicon/fonts/helveticalnune/HelveticaNeueLT-ThinCond.ttf),
        url(aui/lexicon/fonts/helveticalnune/HelveticaNeueLT-ThinCond.eot?#iefix) format('embedded-opentype'), 
        url(aui/lexicon/fonts/robotoregular/Roboto-Regular.woff) format('woff'), 
        url(aui/lexicon/fonts/robotoregular/Roboto-Regular.ttf)  format('truetype');  
}
@font-face{
  font-family: HelveticaNeue Light fontcustom;
  src: url(aui/lexicon/fonts/helveticalnune/HelveticaNeueLight.ttf);
}

@font-face{
  font-family: HelveticaNeue fontcustom;
  src: url(aui/lexicon/fonts/helveticalnune/HelveticaNeue.ttf);
}
@font-face{
  font-family: DINPro-Regular fontcustom;
  src: url(aui/lexicon/fonts/dinpro-regular-59df0024e3d09.otf);
}

@font-face {
    font-family: 'Pyidaungsu';
    src: url(fonts/Pyidaungsu.woff) format('woff'),
    	 url(fonts/Pyidaungsu_Regular.eot),
     	 url(fonts/Pyidaungsu.ttf) format('truetype');
}
