#main-menu .sub a {
              color: #d3d3d3;
              /*display: block;*/
              text-decoration: none;
              min-width: 160px;
              padding: 9px;
              padding-left: 0;
              line-height: 40px;
          }
          .main-menu-title {
              /*line-height: 52px;*/
              margin-top: auto;
              margin: 0 15px;
          }
          #main-menu .sub{
              background: #343434;
              width: 200px;
          }

          #main-menu .sub {
              -webkit-box-shadow: 0 4px 5px rgba(0,0,0, .2);
              -moz-box-shadow: 0 4px 5px rgba(0,0,0, .2);
              box-shadow: 0 4px 5px rgba(0,0,0, .2);
              display: none;
              padding: 0px 10px 0px 24px;
              position: absolute;
              z-index: 905;
          }

          #main-menu .sub .sub {
              left: 98%;
              top: 0;
          }

          #main-menu .navbar .nav .open-sub:before,
          #main-menu .navbar .nav .sub .open-sub:before{
            content: "\e232";
            font-size: 20px;
            font-family: "linea-icons" !important;
            color: #d3d3d3;
            right: 8px;
            position: absolute;
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            speak: none;
            line-height: 40px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }

          @media (min-width: 1025px){
             #main-menu .navbar .nav .main-menu-title.open-sub:before{
              content: "";
            }
            .navbar-nav > li > a {
              padding-top: 14.5px;
            }
            #main-menu .navbar .nav > li:hover,#main-menu .parent.active,.parent.open-sub.active{
              background: #343434;
            }
          }

          @media(max-width: 1024px){
            #main-menu .navbar .nav .main-menu-title.open-sub:before{
              line-height: 51px;
            }

            #main-menu .sub, #main-menu .parent .sub, 
            #main-menu .parent:hover .sub{
              display: none;
              position: relative;
              /* margin: 0; */
              padding: 0;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
              width: 100%;
            }

            #main-menu .parent .sub .sub {
              background: #323538;
              left: 0;
              padding-left: 25px;
              padding-top: 0px !important;
              padding-bottom: 0px !important;
            }
            .main-menu-title{
              padding-left: 24px;
            }
          }